{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
<strong>Acteurs :</strong>
<ul>
    {% for actor in actors %}
        <li><a href="{{ path('actor_show', {'id': actor.id}) }}">{{ actor.name }}</a></li>
    {% else %}
        <li>Aucun acteur pour cette série</li>
    {% endfor %}
</ul>
{% endblock %}